body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000; /* Sets the background to black */
  }
  
  /* Style the header */
  .header {
    padding: 20px;
    text-align: center;
    z-index: 100;
  }
  
  header {
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    z-index: 100;
    align-items: center;
    text-align: center;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 100;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-image: linear-gradient(
        to bottom, #ddd 1%, transparent
      );
    color: black;
    z-index: 100;
    align-items: center;
    text-align: center;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease; /* Smooth transition */
}

.about-image img:hover {
    transform: scale(1.5); /* Enlarge the image on hover */
}

.about-content {
    flex: 1;
    color: rgb(255, 255, 255);

}

.info-box {
    border: 2px solid #ff0000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 600px;
    text-align: center;
}

.info-box1 {
  margin-top: 20px; /* sets top margin to 20px */
  border: 2px solid #1022e2e8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 600px;
  text-align: center;
}

.info-box2 {
  margin-top: 20px; /* sets top margin to 20px */
  border: 2px solid #bd04e2e8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 600px;
  text-align: center;
}

h2 {
    margin-top: 10;
    color: #848484;
}

.data {

    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    line-height: 1.2;
}


.linkY {
    display: block;
    margin-top: 20px;
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

.linkD {
  display: block;
  margin-top: 20px;
  color: #1022e2e8;
  text-decoration: none;
  font-weight: bold;
}

.linkI {
  display: block;
  margin-top: 20px;
  color: #bd04e2e8;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

img {
    border-radius: 15px; /* For rounded corners */
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.heading h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
  position: relative;
}

.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: auto;
  background-color: #ddd;
}

.heading p {
  font-size: 10px;
  color: antiquewhite;
  margin-bottom: 35px;
}
